{% extends "base.html" %}
{% block title %}Users {% endblock %}
{% block content %}
<div class="d-flex">

<div>
    <form method="POST">
        <div id="user-container" class="container">
            <div id="user-image"><img src={{user.image_url}} alt="Image of {{user.first_name}} {{user.last_name}}"></div>
            <div id="user-name"><h1>{{user.first_name}} {{user.last_name}}</h1></div>
            <input class="btn btn-secondary" type="submit" name="action" value="edit" />
            <input class="btn btn-danger" type="submit" name="action" value="delete" />
            <input class="btn btn-secondary" type="submit" name="action" value="home" />
        </div>
    </form>
</div>

<div class="container">    

    <div>
        <ul>
            <h2>{{user.first_name}}'s Posts</h2>
            {% for post in posts %}
            <li><a href="/view-post/{{user.id}}-{{post.id}}">{{post.post_title}}</li>
            {% endfor %}
        </ul>
    </div>
    <a href="/add-post/{{user.id}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Post</a>
</div>
</div>
{% endblock %}

